/*
 * VARIABLES
 */
/*
 *  typography
 */
/*
 *  colors
 */
/*
 *  layout
 */
/*
 * MIXINs
 */
@font-face {
  font-family: 'ModernPictogramsNormal';
  src: local("☺"), url("/sites/all/libraries/mmw_styles/fonts/modern-pictograms/modernpics-webfont.eot?#iefix"), url("/sites/all/libraries/mmw_styles/fonts/modern-pictograms/modernpics-webfont.woff") format("woff"), url("/sites/all/libraries/mmw_styles/fonts/modern-pictograms/modernpics-webfont.ttf") format("truetype"), url("/sites/all/libraries/mmw_styles/fonts/modern-pictograms/modernpics-webfont.svg#ModernPictogramsNormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * VARIABLES
 */
/*
 *  typography
 */
/*
 *  colors
 */
/*
 *  layout
 */
/*
 * MIXINs
 */
@font-face {
  font-family: 'ModernPictogramsNormal';
  src: local("☺"), url("/sites/all/libraries/mmw_styles/fonts/modern-pictograms/modernpics-webfont.eot?#iefix"), url("/sites/all/libraries/mmw_styles/fonts/modern-pictograms/modernpics-webfont.woff") format("woff"), url("/sites/all/libraries/mmw_styles/fonts/modern-pictograms/modernpics-webfont.ttf") format("truetype"), url("/sites/all/libraries/mmw_styles/fonts/modern-pictograms/modernpics-webfont.svg#ModernPictogramsNormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * DOM styles
 */
/* line 10, ../scss/mmw_styles_reset.scss */
body,
input,
textarea,
select,
.ui-widget {
  color: black;
  font: normal normal 12px "Trebuchet MS", sans-serif;
}

/* line 14, ../scss/mmw_styles_reset.scss */
p, li {
  line-height: 1.5em;
}

/* line 17, ../scss/mmw_styles_reset.scss */
a {
  color: #00aaff;
  text-decoration: none;
}
/* line 21, ../scss/mmw_styles_reset.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 26, ../scss/mmw_styles_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font: normal normal 12px "Trebuchet MS", sans-serif;
  letter-spacing: inherit;
}

/* line 30, ../scss/mmw_styles_reset.scss */
.menu {
  margin-left: 8px;
}

/* line 36, ../scss/mmw_styles_reset.scss */
ul.inline li.first, ul.inline li:first-child {
  padding-left: 0;
}

/* line 44, ../scss/mmw_styles_reset.scss */
h1,
#page-title,
.page-title {
  font-size: 26px;
}

/* line 47, ../scss/mmw_styles_reset.scss */
h2 {
  font-size: 20px;
}

/* line 51, ../scss/mmw_styles_reset.scss */
.hide {
  display: none;
}

/*
 * DRUPALize-me
 */
/* line 58, ../scss/mmw_styles_reset.scss */
.block {
  margin-bottom: 20px;
}

/* line 61, ../scss/mmw_styles_reset.scss */
.block-title {
  font-size: 20px;
}

/* line 65, ../scss/mmw_styles_reset.scss */
.field-read-more {
  color: #00aaff;
  text-decoration: none;
  /*  &:hover, 
    &:link:hover, 
    &:focus:hover, 
    &:active:hover {
      &:before {
        text-decoration:none;
      }
    }*/
  margin: 1em 0;
}
/* line 38, ../scss/mmw_styles_base.scss */
.field-read-more:focus {
  color: #00aaff;
  text-decoration: none;
}
/* line 41, ../scss/mmw_styles_base.scss */
.field-read-more:focus:hover {
  text-decoration: underline;
}
/* line 123, ../scss/mmw_styles_base.scss */
.field-read-more:before {
  color: #00aaff;
  content: ">";
  font-family: 'ModernPictogramsNormal';
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

/* line 69, ../scss/mmw_styles_reset.scss */
.field-name-node-link a {
  color: #00aaff;
  text-decoration: none;
  /*  &:hover, 
    &:link:hover, 
    &:focus:hover, 
    &:active:hover {
      &:before {
        text-decoration:none;
      }
    }*/
  margin: 1em 0;
}
/* line 38, ../scss/mmw_styles_base.scss */
.field-name-node-link a:focus {
  color: #00aaff;
  text-decoration: none;
}
/* line 41, ../scss/mmw_styles_base.scss */
.field-name-node-link a:focus:hover {
  text-decoration: underline;
}
/* line 123, ../scss/mmw_styles_base.scss */
.field-name-node-link a:before {
  color: #00aaff;
  content: ">";
  font-family: 'ModernPictogramsNormal';
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

/* line 74, ../scss/mmw_styles_reset.scss */
.field-name-title,
.field-title {
  font-size: 20px;
  color: #00aaff;
  text-decoration: none;
}
/* line 38, ../scss/mmw_styles_base.scss */
.field-name-title:focus,
.field-title:focus {
  color: #00aaff;
  text-decoration: none;
}
/* line 41, ../scss/mmw_styles_base.scss */
.field-name-title:focus:hover,
.field-title:focus:hover {
  text-decoration: underline;
}

/* line 80, ../scss/mmw_styles_reset.scss */
.view .button {
  color: #00aaff;
  text-decoration: none;
  /*  &:hover, 
    &:link:hover, 
    &:focus:hover, 
    &:active:hover {
      &:before {
        text-decoration:none;
      }
    }*/
  margin: 1em 0;
}
/* line 38, ../scss/mmw_styles_base.scss */
.view .button:focus {
  color: #00aaff;
  text-decoration: none;
}
/* line 41, ../scss/mmw_styles_base.scss */
.view .button:focus:hover {
  text-decoration: underline;
}
/* line 123, ../scss/mmw_styles_base.scss */
.view .button:before {
  color: #00aaff;
  content: ">";
  font-family: 'ModernPictogramsNormal';
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

/* line 86, ../scss/mmw_styles_reset.scss */
.node-readmore a {
  color: #00aaff;
  text-decoration: none;
  /*  &:hover, 
    &:link:hover, 
    &:focus:hover, 
    &:active:hover {
      &:before {
        text-decoration:none;
      }
    }*/
  margin: 1em 0;
}
/* line 38, ../scss/mmw_styles_base.scss */
.node-readmore a:focus {
  color: #00aaff;
  text-decoration: none;
}
/* line 41, ../scss/mmw_styles_base.scss */
.node-readmore a:focus:hover {
  text-decoration: underline;
}
/* line 123, ../scss/mmw_styles_base.scss */
.node-readmore a:before {
  color: #00aaff;
  content: ">";
  font-family: 'ModernPictogramsNormal';
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
